<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .content{
            text-align: center;
            margin:auto
        }

        .nocontent{
            padding:40px;

        }
    </style>
</head>
<body>
    <div class="content">
        <form action="getQuery", method="POST">
            <input type="text" name = 'searchquery' placeholder="Query"/> 
            <input type="text" name="numberofresults" placeholder="Number of results"/>
            <input type="submit" value = 'Search' />
        </form>
    </div>
    <div class="nocontent">

    </div>
    
    <div class = "content">
        <% videoids.forEach(videoid => { %>

            <iframe id = "my_video" width="800" height = "400" src = "https://www.youtube.com/embed/<%= videoid %>" controls>
            </iframe>


        <% }) %>

        
    </div>

</body>
</html>